# Praktikum Pengantar Pembelajaran Mesin


---
## Bab 3. Klasifikasi K-Nearest Neighbor (KNN)

Tuliskan Nama, NIM, dan kelas Anda:

Nama : Rayhan Egar Sadtya Nugraha

NIM   : 225510201111014

Kelas : PPM-D

### 1) Import Data

Unduh dataset yang akan digunakan pada praktikum kali ini. Anda dapat menggunakan aplikasi wget untuk mendowload dataset dan menyimpannya dalam Google Colab. Jalankan cell di bawah ini untuk mengunduh dataset

In [1]:
! wget https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv

--2024-03-19 22:36:51--  https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3975 (3.9K) [text/plain]
Saving to: ‘iris.csv’

iris.csv            100%[===================>]   3.88K  --.-KB/s    in 0.001s

2024-03-19 22:36:51 (7.35 MB/s) - ‘iris.csv’ saved [3975/3975]

Setelah dataset berhasil diunduh, langkah berikutnya adalah membaca dataset dengan memanfaatkan fungsi **readcsv** dari library pandas. Lakukan pembacaan berkas csv ke dalam dataframe dengan nama **data** menggunakan fungsi **readcsv**. Jangan lupa untuk melakukan import library pandas terlebih dahulu

In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv('iris.csv')



Cek isi dataset Anda dengan menggunakan perintah **head()**

In [3]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

## 2) Membagi data menjadi data latih dan data uji

Metode pembelajaran mesin memerlukan dua jenis data :


1.   Data latih : Digunakan untuk proses training metode klasifikasi
2.   Data uji : Digunakan untuk proses evaluasi metode klasifikasi

Data uji dan data latih perlu dibuat terpisah (mutualy exclusive) agar hasil evaluasi lebih akurat.

Data uji dan data latih dapat dibuat dengan cara membagi dataset dengan rasio tertentu, misalnya 80% data latih dan 20% data uji.

Library Scikit-learn memiliki fungsi [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) pada modul **model_selection** untuk membagi dataset menjadi data latih dan data uji. Bagilah dataset anda menjadi dua, yaitu **data_latih** dan **data_uji**.

In [4]:
from sklearn.model_selection import train_test_split
data_latih, data_uji = train_test_split(data, test_size=0.2)

Tampilkan banyaknya data pada **data_latih** dan **data_uji**. Seharusnya **data_latih** terdiri dari 120 data, dan **data_uji** terdiri dari 30 data

In [5]:
print(data_latih.shape[0])
print(data_uji.shape[0])

120
30

Pisahkan label/kategori dari data latih dan data uji menjadi variabel tersendiri. Beri nama variabelnya **label_latih** dan **label_uji**

In [6]:
label_latih = data_latih.pop('variety')
label_uji = data_uji.pop('variety')

In [7]:
data_latih.head()

    sepal.length  sepal.width  petal.length  petal.width
46           5.1          3.8           1.6          0.2
9            4.9          3.1           1.5          0.1
41           4.5          2.3           1.3          0.3
18           5.7          3.8           1.7          0.3
85           6.0          3.4           4.5          1.6

In [8]:
data_uji.head()

     sepal.length  sepal.width  petal.length  petal.width
120           6.9          3.2           5.7          2.3
17            5.1          3.5           1.4          0.3
106           4.9          2.5           4.5          1.7
88            5.6          3.0           4.1          1.3
39            5.1          3.4           1.5          0.2

## 3) Menghitung jarak euclidean

Tahapan awal dari algoritma KNN adalah perhitungan jarak. Salah satu metode perhitungan jarak yang bisa digunakan adalah jarak Euclidean. Buatlah fungsi bernama **jarakEu** yang berfungsi menghitung jarak euclidean dari dua buah vektor (tanpa kelas)

In [17]:
def jarakEu(data1, data2):
    jarak = np.square(data1-data2)
    jarak = np.sum(jarak)
    return np.sqrt(jarak)

Uji fungsi **jarakEu** untuk menghitung jarak antara data latih pertama dengan data uji pertama.

In [18]:
test_jarak = jarakEu(data_latih.iloc[0], data_uji.iloc[0])
print(test_jarak)

4.98196748283246

## 4) Algoritma KNN

Implementasikan algoritma KNN dengan tahapan-tahapan berikut :
1. Hitung jarak antara data uji dengan setiap data latih.
2. Cari *k* data latih dengan jarak terkecil.
3. Tentukan kelas dari *k* data latih tersebut.
4. Kelas data uji ditentukan dari mayoritas kelas *k* data latih.

Buatlah fungsi dengan nama **knn** yang menerima input berupa *k*, sekumpulan data latih dan labelnya, serta sebuah data uji

In [19]:
from collections import Counter

def knn(k, datalatih, labellatih, datauji):
    jarak = np.array([jarakEu(datalatih.iloc[x], datauji) for x in range(datalatih.shape[0])])
    indeks_k_minimum = jarak.argsort()
    indeks_k_minimum = indeks_k_minimum[:k]
    k_kelas = np.array(labellatih.iloc[indeks_k_minimum])
    counter = Counter(k_kelas)
    kelas_uji = counter.most_common(1)[0][0]
    return kelas_uji

Lakukan pengujian fungsi **knn** untuk menentukan kelas dari data uji pertama

In [38]:
test_hasil = knn(3, data_latih, label_latih, data_uji.iloc[0])
print(test_hasil)

Virginica

## 5) KNN pada Scikit-learn

Library scikit-learn memiliki algoritma KNN yang siap untuk digunakan. Sebagai pengenalan, Anda akan melakukan klasifikasi data yang sama menggunakan KNN yang tersedia pada library scikit-learn

In [21]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=3)
KNN.fit(data_latih, label_latih)

kelas = KNN.predict([data_uji.iloc[0]])
print(kelas)

['Virginica']

/home/sobaqov/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

## TUGAS
1. Buatlah fungsi bernama **jarakCity** yang berfungsi menghitung jarak City Block antara dua vektor.
2. Buatlah sebuah fungsi bernama **knn_multi** yang dapat menentukan kelas dari **semua** data uji (Fungsi **knn** yang sudah Anda buat hanya dapat menentukan kelas dari sebuah data uji. Anda dapat memanfaatkan fungsi **knn** yang telah ada
3. Buatlah fungsi bernama **cek_hasil** yang berfungsi membandingkan hasil klasifikasi dengan label sebenarnya. Fungsi ini menerima input 2 buah list, yaitu list label hasil klasifikasi dan list label data uji yang sebenarnya. Output dari fungsi ini adalah integer, yang menunjukkan berapa banyak label hasil klasifikasi yang sama dengan label data uji sebenarnya.
4. Jalankan fungsi **knn_multi** dengan nilai k=3, k=7,k=9 dan k=13. Amati hasil dari fungsi **cek_hasil** dengan nilai k tersebut. Apa kesimpulan Anda?

In [23]:
#jawaban soal 1
def jarakCity(vektor1, vektor2):
    vektor1, vektor2 = np.array(vektor1), np.array(vektor2)
    jarak = np.abs(vektor1-vektor2)
    jarak = np.sum(jarak)
    return jarak

In [59]:
# Test function jarakCity() dengan vektor [0,0,0]
jarakCityTest = jarakCity([1, 2, 3], [0, 0, 0])
print(jarakCityTest)

6

In [62]:
#jawaban soal 2
from collections import Counter
def knn_multi(k, datalatih, labellatih, datauji):

    # List kosong untuk penyimpanan hasil KNN masing-masing datapoint pada datauji
    pred = []
    for i in range (datauji.shape[0]):

        # Ambil current datapoint
        current_data = datauji.iloc[i]

        # Hitung KNN
        # current_distance = knn(k, datalatih, labellatih, current_data)
        current_distance = np.array([jarakCity(datalatih.iloc[x], current_data) for x in range(datalatih.shape[0])])
        indeks_k_minimum = current_distance.argsort()
        indeks_k_minimum = indeks_k_minimum[:k]
        k_kelas = np.array(labellatih.iloc[indeks_k_minimum])
        counter = Counter(k_kelas)
        current_class = counter.most_common(1)[0][0]

        # Append hasil KNN ke array pred
        pred.append(current_class)

    return pred

In [63]:
# Test function knn_multi()
knn_multi_test = data_uji.iloc[:5]
pred_test = knn_multi(3, data_latih, label_latih, knn_multi_test)
print(pred_test)

['Virginica', 'Setosa', 'Versicolor', 'Versicolor', 'Setosa']

### Penjelasan knn_multi()

In [64]:
#jawaban soal 3
def cek_hasil(pred, labeluji):
    pred, labeluji = np.array(pred), np.array(labeluji)
    if(pred.shape[0]==labeluji.shape[0]):
        count = 0
        for i in range(pred.shape[0]):
            pred[i], labeluji[i] = pred[i].lower(), labeluji[i].lower()
            if(pred[i] == labeluji[i]):
                count+=1
        return count

In [65]:
pred_test = knn_multi(3, data_latih, label_latih, data_uji)
hasil_pred_test = cek_hasil(pred_test, label_uji)
print(hasil_pred_test)

29

In [66]:
#jawaban soal 4

k = [3, 7, 9, 13]
pred = []
score = []

for k in k:
    pred.append(knn_multi(k, data_latih, label_latih, data_uji))
    score.append(cek_hasil(pred[-1], label_uji))
    print("Untuk k = ", k)
    print("Prediksi: ", pred[-1])
    print("Skor: ", score[-1])
    print()

Untuk k =  3
Prediksi:  ['Virginica', 'Setosa', 'Versicolor', 'Versicolor', 'Setosa', 'Virginica', 'Versicolor', 'Versicolor', 'Versicolor', 'Versicolor', 'Setosa', 'Setosa', 'Virginica', 'Versicolor', 'Virginica', 'Virginica', 'Versicolor', 'Setosa', 'Virginica', 'Virginica', 'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Versicolor', 'Setosa']
Skor:  29

Untuk k =  7
Prediksi:  ['Virginica', 'Setosa', 'Versicolor', 'Versicolor', 'Setosa', 'Virginica', 'Versicolor', 'Versicolor', 'Versicolor', 'Versicolor', 'Setosa', 'Setosa', 'Virginica', 'Versicolor', 'Virginica', 'Virginica', 'Versicolor', 'Setosa', 'Virginica', 'Virginica', 'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Versicolor', 'Setosa']
Skor:  29

Untuk k =  9
Prediksi:  ['Virginica', 'Setosa', 'Versicolor', 'Versicolor', 'Setosa', 'Virginica', 'Versicolor', 'Versicolor', 'Versicolor', 'Versicolor', 'Setosa', 'Setosa', 'Virginica', 'Versicolor', 'Virginica', 'Virginica', 'Versicolor', 'Setosa', 'Virginica', 'Virginica', 'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Versicolor', 'Setosa']
Skor:  29

Untuk k =  13
Prediksi:  ['Virginica', 'Setosa', 'Versicolor', 'Versicolor', 'Setosa', 'Virginica', 'Versicolor', 'Versicolor', 'Versicolor', 'Versicolor', 'Setosa', 'Setosa', 'Virginica', 'Versicolor', 'Virginica', 'Virginica', 'Versicolor', 'Setosa', 'Virginica', 'Virginica', 'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Versicolor', 'Setosa']
Skor:  29

Pada langkah ini, digunakan komparasi dari berbagai nilai variable 'k' untuk algoritma klasifikasi K-Nearest Neighbor pada dataset Iris. Komparasi dilakukan dengan memanggil fungsi knn_multi() sebanyak empat kali dengan parameter 'k' yang berbeda-beda, dan memanggil fungsi cek_hasil() pada tiap-tiap iterasinya untuk menghitung tingkat akurasi.

- knn_multi() adalah fungsi yang dibuat untuk melakukan klasifikasi KNN dengan basis perhitungan jarak dengan fungsi heuristik Manhattan City Distance yang diimplementasikan dalam fungsi jarakCity().
- Pada knn_multi(), akan dilakukan iterasi untuk setiap datapoint yang diujikan, dan akan dihitung jarak Manhattan City dengan semua datapoint yang ada pada dataset training. Jarak neighbor akan di-store di dalam sorted array, dan kelas dari datapoint tersebut ditentukan berdasarkan frekuensi k-neighbor terdekat.
- Dari pengujian yang dilakukan pada dataset Iris dengan 30 datapoint untuk k=[3, 7, 9, 13], hasil yang diberikan bersifat konsisten dengan akurasi kebenaran 29 dari 30. Hal ini dapat terjadi dikarenakan proses pemisahan dan pemilihan data pengujian dari dataset bersifat random.
- Pada kasus di atas, ukuran variabel 'k' tidak terlalu berpengaruh terhadap akurasi hasil klasifikasi dengan algoritma KNN dengan dataset Iris.